In [28]:
# started at 9:17pm
import pandas as pd

In [29]:
cols = [1,2,3,4,5,6,7,8]
df = pd.read_csv("day_two_data.csv", header=None, sep=" ", names = cols)

In [30]:
df.head()

    1   2   3   4   5     6     7     8
0  58  59  62  63  64  63.0   NaN   NaN
1  71  72  74  76  78  80.0  82.0  82.0
2  26  29  32  34  35  39.0   NaN   NaN
3   9  11  14  17  19  20.0  21.0  26.0
4  89  92  95  93  94  97.0  98.0   NaN

In [38]:
len(df)

1000

In [34]:
count = 0
for i in range(len(df)):
    posneg = 0 # 1 if increasing, -1 if decreasing
    for j in range(2,8):
        val = df.loc[i,j]
        bval = df.loc[i,j-1]
        if val != "NaN":
            if (abs(val-bval) > 0 and abs(val-bval) < 4):
                if val-bval > 0 and posneg >= 0:
                    posneg = 1
                else:
                    count += 1
                if val-bval < 0 and posneg <= 0:
                    posneg = -1
                else:
                    count += -1
            else:
                count += 1
print(count)

1801

In [51]:
df.fillna(0, inplace=True)

In [64]:
count = 0
for i in range(len(df)):
    inner_count = 0 
    inner_tot = 0
    for j in range(2,8):
        val = df.loc[i,j]
        bval = df.loc[i,j-1]
        if val != 0:
            inner_tot += 1
            
            if ((abs(val-bval) > 0) and (abs(val-bval) < 4)):
                if val > bval:
                    inner_count += 1
                if val < bval:
                    inner_count -= 1
            else:
                count += 1
                # print(f"break at loc[{i},{j}], val = {val}, bval = {bval}")
                break
                
            # print(f"at loc[{i},{j}]")
            # print(abs(val-bval))
            # print(f"count: {count}")
        if abs(inner_count) < inner_tot:
            print(f"inner_count = {inner_count}, inner_tot = {inner_tot}")
            count += 1
    
print(count)

inner_count = 3, inner_tot = 5
inner_count = 3, inner_tot = 5
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 4, inner_tot = 6
inner_count = 3, inner_tot = 5
inner_count = 2, inner_tot = 6
inner_count = 4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 2, inner_tot = 6
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 0, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -3, inner_tot = 5
inner_count = -3, inner_tot = 5
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = -1, inner_tot = 3
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 3, inner_tot = 5
inner_count = 3, inner_tot = 5
inner_count = 4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 1, inner_tot = 5
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 4, inner_tot = 6
inner_count = 1, inner_tot = 3
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 1, inner_tot = 5
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -2, inner_tot = 4
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 2, inner_tot = 6
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = -4, inner_tot = 6
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 6
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = -1, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 1, inner_tot = 5
inner_count = 1, inner_tot = 5
inner_count = -2, inner_tot = 4
inner_count = -2, inner_tot = 4
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 4
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = -1, inner_tot = 3
inner_count = -2, inner_tot = 4
inner_count = -3, inner_tot = 5
inner_count = -4, inner_tot = 6
inner_count = 0, inner_tot = 2
inner_count = 0, inner_tot = 2
inner_count = 1, inner_tot = 3
inner_count = 0, inner_tot = 2
inner_count = 2, inner_tot = 4
inner_count = 3, inner_tot = 5
inner_count = 3, inner_tot = 5
889

In [40]:
df.head()

    1   2   3   4   5     6     7     8
0  58  59  62  63  64  63.0   NaN   NaN
1  71  72  74  76  78  80.0  82.0  82.0
2  26  29  32  34  35  39.0   NaN   NaN
3   9  11  14  17  19  20.0  21.0  26.0
4  89  92  95  93  94  97.0  98.0   NaN

In [ ]:
# done on 10:29pm. could not get a good answer.